<template>
  <section class="cart-list">
    <h2>Orders List</h2>
    <p v-if="!ordersList.length">Orders list is empty</p>
    <div v-else v-for="order in ordersList">
      <p>{{ order }}</p>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["ordersList"])
  },
};
</script>

<style>
.cart-list {
  height: 200px;
}
</style>
