<template>
  <div class="header">
    <h3>Товаров в корзине на: {{ productsTotal }} {{ currency }}</h3>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'Header',
  props: {
    currency: String,
  },
  computed: {
    ...mapGetters(['productsTotal']),
  }
}
</script>

<style scoped>
  .header {
    padding: 10px;
    background: #e5e5e5;
  }
</style>
