<template>
  <form @submit.prevent="addToCart">
    <input type="number" min="0" v-model="amount" :id="product.id">
    <span> кг</span>
    <button type="submit" :disabled="amount < 1"> В корзину </button>
  </form>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: {
    product: Object,
  },
  data() {
    return {
      amount: 0
    }
  },
  methods: {
    ...mapMutations(['updateCard', 'updateTotal']),
    addToCart() {
      const data = {
        id: this.product.id,
        amount: +this.amount
      };
      this.updateCard(data);
      this.updateTotal();
      this.amount = 0;
    }
  }
}
</script>
