<template>
  <section class="product-list">
    <div class="card" v-for="product in allProducts" :style="{width: cardsWidth + '%'}" :key="product.id">
      <p class="card-title">{{ product.title }}</p>
      <img class="card-image" :src="product.image" alt="">
      <p class="card-price">Цена: {{ product.price }} {{ currency }}</p>
      <ListItem :product="product" :key="product.id" />
    </div>
  </section>
</template>

<script>
import ListItem from "@/components/ListItem";
import { mapGetters } from "vuex";
export default {
  components: {
    ListItem
  },
  props: {
    currency: String,
  },
  data() {
    return {
      width: window.innerWidth
    }
  },
  computed: {
    ...mapGetters(["allProducts"]),
    cardsWidth() {
      let count = 3;
      if (this.width <= 420) {
        count = 1;
      } else if ((this.width > 420 && this.width < 840)) {
        count = 2;
      }

      return 100 / count;
    },
  },
  methods: {
    startPricesMonitoring() {
      setInterval(this.getList, 1000);
    },
    updateWidth() {
      this.width = window.innerWidth;
    },
  },
  created() {
    window.addEventListener('resize', this.updateWidth);
  },
};
</script>

<style>
  .product-list {
    padding: 10px;
  }

  .card {
    display: inline-block;
    width: 100%;
    border: 1px solid #908888;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
  }
  .card-image {
    width: 100%;
  }
  button {
    padding: 5px;
    margin: 5px;
  }

</style>
