<template>
  <div id="app">
    <Header :currency="currency"></Header>
    <List :currency="currency"/>
    <Cart />
  </div>
</template>

<script>
import Header from './components/Header.vue';
import List from './components/List.vue';
import Cart from './components/Cart.vue';
import { mapActions } from "vuex";

export default {
  name: 'App',
  data() {
    return {
      cart: [],
      currency: 'VGTB',
    };
  },
  components: {
    Header,
    List,
    Cart,
  },
  methods: {
    ...mapActions(["getProducts"])
  },
  mounted() {
    this.getProducts(),
    setInterval(() => {
      this.getProducts();
    }, 2000)
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}
</style>
